@using ValidFormSubmit.Models
@model User

<div>
    <form asp-action="Create" asp-controller="Home" method="POST">
        <span asp-validation-for="FirstName"></span><br>
        <label asp-for="FirstName"></label><br>
        <input asp-for="FirstName"><br>
        <span asp-validation-for="LastName"></span><br>
        <label asp-for="LastName"></label><br>
        <input asp-for="LastName"><br>
        <span asp-validation-for="Age"></span><br>
        <label asp-for="Age"></label><br>
        <input asp-for="Age"><br>
        <span asp-validation-for="Email"></span><br>
        <label asp-for="Email"></label><br>
        <input asp-for="Email"><br>
        <span asp-validation-for="Password"></span><br>
        <label asp-for="Password"></label><br>
        <input type="password" asp-for="Password"><br><br>
        <input type="submit" value="Submit">
    </form>
</div>